{#
Author Details Template
=======================

Author: Akshay Mestry <xa@mes3.dev>
Created on: 22 February, 2025
Last updated on: 29 September, 2026
#}
{% block km_author %}
    {%- set km_who = km_name|d(km_project.author) %}
    <aside class="km-article"
           {% if km_background %}data-km-background="{{ km_background }}"{% endif %}>
        <a href="{{ km_target|d(km_project.source) }}"
           target="_blank"
           rel="noopener noreferrer"
           class="km-article__profile"
           aria-label="{{ _('Check out %(name)s', name=km_who) }}">
            {%- if km_avatar|d(km_project.avatar) %}
                <img class="km-article__avatar"
                     src="{{ km_avatar|d(km_project.avatar) }}"
                     width="20"
                     height="20"
                     loading="lazy"
                     alt="">
            {%- endif %}
            <p class="km-article__name">{{ km_who }}</p>
        </a>
        <div class="km-article__meta">
            <div class="km-article__meta-group">
                <p class="km-article__reading-time">
                    <i class="{{ km_fa_icons.reading_time }} km-article__reading-time-icon"
                       aria-hidden="true"></i>{{ ngettext('%(num)d min read', '%(num)d mins read', km_minutes) }}
                </p>
                <button type="button"
                        class="km-article__copy km-copy-url"
                        data-tooltip="{{ _('Copy article URL to clipboard') }}">
                    <i class="{{ km_fa_icons.copy_url }}"
                       aria-hidden="true"></i>
                    <span>{{ _("Copy") }}</span>
                </button>
            </div>
        </div>
    </aside>
{% endblock km_author %}
