{#
Footer Template
===============

Author: Akshay Mestry <xa@mes3.dev>
Created on: 21 February, 2025
Last updated on: 29 September, 2026
#}
<footer class="km-footer km-container">
    {%- block km_footer_before %}{%- endblock km_footer_before %}
        <div class="km-footer__inner">
            <div class="km-footer__content">
                {%- if show_copyright and copyright|length %}
                    <p class="km-footer__text">
                        {%- if hasdoc('copyright') -%}
                            {%- trans path=pathto('copyright'), copyright=copyright|e -%}
                            <a href="{{ path }}">Copyright</a> {{ copyright }}
                        {%- endtrans -%}
                    {%- else -%}
                        {{ copyright|e }}
                    {%- endif -%}
                </p>
            {%- endif %}
            {%- if last_updated %}
                <p class="km-footer__text">
                    {%- trans last_updated=last_updated|e -%}
                    Last updated {{ last_updated }}.
                {%- endtrans -%}
            </p>
        {%- endif %}
        {%- if show_sphinx %}
            <p class="km-footer__text">
                {%- trans trimmed -%}
                Built with <a href="https://www.sphinx-doc.org"
    rel="noreferrer">Sphinx</a>.
            {%- endtrans -%}
        </p>
    {%- endif %}
    <p class="km-footer__text">
        {% trans %}Content licensed under{% endtrans %}
        <a href="https://creativecommons.org/licenses/by/4.0/"
           rel="noopener"
           target="_blank">CC BY 4.0</a>.
    </p>
</div>
{%- if km_show_colour_modes|tobool %}
    <button type="button"
            class="km-footer__theme-toggle"
            aria-label="{{ _('Colour theme switcher') }}">
        <i class="{{ km_fa_icons.dark_mode }} km-footer__theme-toggle-icon km-footer__theme-toggle-icon--dark"
           aria-hidden="true"></i>
        <i class="{{ km_fa_icons.light_mode }} km-footer__theme-toggle-icon km-footer__theme-toggle-icon--light"
           aria-hidden="true"></i>
    </button>
{%- endif %}
</div>
{%- block km_footer_after %}{%- endblock km_footer_after %}
</footer>
