{#
Show More Template
==================

Author: Akshay Mestry <xa@mes3.dev>
Created on: 12 September, 2026
Last updated on: 29 September, 2026
#}
<div class="km-page__more"
     data-km-show-more>
    <button class="km-page__more-button"
            type="button"
            aria-controls="km-content"
            aria-expanded="false"
            data-km-label-more="{{ _('Show more') }}"
            data-km-label-less="{{ _('Show less') }}">
        <span class="km-page__more-label">{{ _('Show more') }}</span>
        <i class="{{ km_fa_icons.show_more }} km-page__more-icon"
           aria-hidden="true"></i>
    </button>
</div>
