<!--
Sidebar Template
================

Author: Akshay Mestry <xa@mes3.dev>
Created on: 21 February, 2025
Last updated on: 13 September, 2026
-->
{%- from "logo.html.jinja" import site_logo with context -%}
<aside id="sidebar"
       class="site-layout__sidebar site-sidebar site-sidebar--primary"
       :class="{ 'site-sidebar--visible': showSidebar }">
    <a href="{{ pathto(master_doc) }}"
       class="site-sidebar__brand">
        {{- site_logo() -}}
        <span class="site-sidebar__brand-title">{{ docstitle }}</span>
    </a>
    {%- if hasdoc('search') and show_searchbox|tobool %}
        <div class="site-sidebar__search">
            {%- with search_variant = "sidebar" %}
                {%- include "searchbox.html.jinja" %}
            {%- endwith %}
        </div>
    {%- endif %}
    <div class="site-sidebar__scroll">
        <div class="site-sidebar__content">
            <nav class="site-sidebar__toc"
                 aria-label="{{ _('Table of contents') }}">
                {%- if show_toctree|tobool %}
                    {{ toctree(titles_only=false, collapse=false, includehidden=true) }}
                {%- else %}
                    {{ toctree(titles_only=true, collapse=false) }}
                {%- endif %}
                {%- if sidebar_buttons|tobool %}
                    <p class="caption"
                       role="heading">
                        <span class="caption-text">{{ _("External Links") }}</span>
                    </p>
                    <ul class="site-sidebar__mobile-list">
                        {%- for text, url in sidebar_buttons.items() %}
                            {%- if url is mapping %}
                                <li>
                                    <a href="{{ url.link }}"
                                       title="{{ text }}"
                                       rel="noopener nofollow"
                                       {% if url.link != '#' %}target="_blank"{% endif %}
                                       class="site-sidebar__mobile-item">
                                        {%- if url.icon %}
                                            {{ url.icon }}
                                        {%- else %}
                                            <i class="fas fa-arrow-up-right-from-square"
                                               aria-hidden="true"></i>
                                        {%- endif %}
                                        <span {{ url.extras if url.extras else '' }}>{{ text }}</span>
                                    </a>
                                </li>
                            {%- endif %}
                        {%- endfor %}
                    </ul>
                {%- endif %}
            </nav>
        </div>
    </div>
</aside>
