{#
YouTube Template
================

Author: Akshay Mestry <xa@mes3.dev>
Created on: 22 February, 2025
Last updated on: 29 September, 2026
#}
{% block km_youtube %}
    {%- set km_label = km_caption or _("YouTube video") %}
    <figure class="km-media km-media--youtube">
        <div class="km-media__frame km-media__frame--ratio">
            <iframe class="km-media__iframe"
                    src="{{ km_url }}&amp;color=white"
                    title="{{ km_label|striptags|e }}"
                    loading="lazy"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
        </div>
        {%- if km_caption %}
            <figcaption class="km-media__caption">{{ km_caption }}</figcaption>
        {%- endif -%}
    </figure>
{% endblock km_youtube %}
